a
 {
text-decoration:none;
color:#000 !important;
}

a:link{
color:#000 !important;
}

a:visited{
color:#000 !important;
}

#judgmentinfo a{
color:#000 !important;

}

h1{
	margin-bottom:-5px;
}

.citation{

}

p{
text-align:justify;
}