/* 
CUSTOM STYLESHEET
---------------------

Instructions:

Add your custom styles in this file instead of style.css so it 
is easier to update the theme. Simply copy an existing style 
from style.css to this file, and modify it to your liking. */


fieldset {background:#ffffff; padding:10px; border:1px solid #fff; border-color:#fff #fff #fff #fff; margin-bottom:10px; width:300px; font:12px/16px Arial, Helvetica, sans-serif; color:#333;}
input, textarea, select {width:150px;}
fieldset.action {background:#9da2a6; border-color:#e5e5e5 #797c80 #797c80 #e5e5e5; margin-top:-30px;  padding:0px; width:150px;}
legend {background:#bfbf30; color:#fff; font:16px/21px Calibri, Arial, Helvetica, sans-serif; padding:0 10px; margin:-26px 0 0 -11px; font-weight:bold; border:1px solid #fff; border-color:#e5e5c3 #505014 #505014 #e5e5c3;}
label {
    background: #fff;
    text-align: left;
    color: #666;
    font-family:'PT sans', Arial;
    font-size:13px;
}
label.opt {font-weight:normal;}
dl {clear:both;}
dt {float:left; text-align:right; width:90px; line-height:25px; margin:0 10px 10px 0;}
dd {float:left; width:150px; line-height:25px; margin:0 0 10px 0;}

.commentsen {
    font-size:14px;
    width:400px;
    margin-top:200px;
}

ul.wp-tag-cloud {
    list-style-type: none;
    text-align:justify;
}

ul.wp-tag-cloud li {
    display:inline;
    white-space:pre-line;
}

ul.wp-tag-cloud li a:hover, ul.wp-tag-cloud li a {
    text-align:justify;
}

ul.wp-tag-cloud li a:hover {
    position:relative;
    background-color:#FFCC00;
    border-radius:5px;
    font-size:20px !important;
    padding:0px 2px 0px 2px;
    color:#2E4E95;
}

.map { width: 935px; height: 360px;}

.mapwrap {margin-left:5px;}
.jcount {margin-left:10px; text-align:right;}
.postper {font-family:'PT Sans', sans-serif; margin-left:-1px;}

#db_posts_per_page {width:70px; padding:5px; padding-left:10px;}

#tt {position:absolute; display:block; }
#tttop {display:block; height:5px; margin-left:5px;  overflow:hidden}
#ttcont {display:block; padding:2px 12px 3px 7px; margin-left:5px; background:#666; color:#FFF}
#ttbot {display:block; height:5px; margin-left:5px;  overflow:hidden}


/* Filter Menus START */
ul.filtermenumap {

    width:100%;
    font:bold 20px;
    display:block;
    float: left;
    height:20px;
    font-size: 14px;
}

ul.filtermenumap li {
    display:block;
    margin:0px 0px 0px 2px;
    float:left;
}
ul.filtermenumap a:hover ul, ul.filtermenumap a:hover a:hover ul, ul.filtermenumap a:hover a:hover a:hover ul {
    display:block;
}
ul.filtermenumap a {
    display:block;
    vertical-align:middle;
    border-width:0px;
    border-color:#6655ff;
    border-style:solid;
    padding:1px;
    _padding-left:0;
    color: blue;
    text-decoration:none;
    text-align:left;
    font-weight:bold;
}
ul.filtermenumap span {
    overflow:hidden;
}
ul.filtermenumap li a:hover, ul.filtermenumap li a {
    padding:0px 5px 2px 5px;
    color:#990000;
}

ul.filtermenumap ul li a {
    color:#333;
    font-weight: normal;
    cursor:pointer;
    padding:4px;
}


ul.filtermenumapm li a:hover, ul.filtermenumapm li a {
    padding:4px;
    font-weight: normal;
    color: #333;
    padding-left:10px;
}

ul.filtermenumap ul {
    position: absolute;
    left:-1px;
    top:98%;
    width:160px;
    border-left:3px solid #FFCC00;
    border-bottom:3px solid #FFCC00;
    border-right:3px solid #FFCC00;
    border-top:3px solid #FFCC00;
    background-color:#ffffff;
    border-radius:10px;
}

ul.filtermenumap ul ul {
    position: absolute;
    left:50%;
    top:-2px;
}
ul.filtermenumap {
    margin:0px;
    list-style:none;
    padding:0px 0px 5px 0px;
}

ul.filtermenumap ul {
    margin:0px;
    list-style:none;
    padding:4px 0px 4px 0px;
}


ul.filtermenumap a:active, ul.filtermenumap a:focus {
    outline-style:none;
}
ul.filtermenumap ul li {
/*    float: left;*/
    width: 260px;
    padding-left:10px;
    padding-right:10px;
    font-size:14px;
}



ul.filtermenumap ul a {
    white-space:nowrap;
    text-align:left;

}
ul.filtermenumap li:hover {
    position:relative;
}
ul.filtermenumap li:hover>a {
    background-color:#fff;
    color: #000;
    border-color:#665500;
    border-style:solid;
    text-decoration:none;
}
ul.filtermenumap li a:hover {
    position:relative;
    background-color:#FFCC00;
    color: #000;
    text-decoration:none;
    border-color:#665500;
    border-style:solid;
    border-radius:5px;
}

ul.filtermenumap img {
    border: none;
    float:left;
    margin-right:4px;
    width:16px;
    height:16px;
}
ul.filtermenumap ul img {
    width:16px;
    height:16px;
}
ul.filtermenumap ul, ul.filtermenumap a:hover ul ul {
    display:none;
    z-index:99999;
    width:850px;
}
ul.filtermenumap li:hover>ul {
    display:block
}
ul.filtermenumap span {
    display:block;
    padding-right:16px;
    background-image:url('images/maparrow.png');
    background-position:right center;
    background-repeat: no-repeat;
}

ul.filtermenumap li ul li a:hover {

    color: #000;

}


/* Filter Menus ends */


/*---- Homedrops ----*/
ul#homedrops {margin-bottom:30px; font-weight:bold; }
ul#homedrops .head {background:#4B71D3; text-align:center; border-radius:10px 10px 0px 0px; font-size: 16px; border-bottom:3px solid #FFCC00; }
ul.drop a { display:block; color: #fff; font-size: 15px; text-decoration: none; text-align:left; font-weight:normal; }
ul.drop, ul.drop li, ul.drop ul { list-style: none; margin: 0; padding: 0; border: 0px solid #fff;  color: #ffffff;}
ul.drop { position: relative;  float: left; }
ul.drop li { float: left; line-height: 1.3em; vertical-align: middle; zoom: 1; padding: 5px 10px; width:277px;  background: #86BFE6;}
ul.drop li.hover, ul.drop li:hover { position: relative;  cursor: default;}
ul.drop ul { visibility: hidden; position: absolute; top: 100%; left: 0; width: 250px;  border: 0px solid #fff; margin-top:3px; background: #ffffff;}
ul.drop ul li:hover a{ color: #2E4E80;  }
ul.drop ul li:hover{ background: #ffcc00;}
ul.drop ul li { float: none; background: #86BFE6;}
ul.drop ul ul { top: -2px; left: 100%; }
ul.drop li:hover > ul { visibility: visible }

#hometopmenu1{
    position: relative;
    overflow:visible !important;
    z-index:3;     
}
#hometopmenu2{
    position: relative;
    z-index:2;  
}

#hometopmenu3{
    position: relative;
    z-index:1;  
}

/*---- Homedrops ends----*/

#spanleft {
    float:left;
    width:230px;

}

.gsc-input-box  { 
    padding-top:2px !important; 
    padding-bottom:3px !important; 
}

.gsc-cursor-page {
    background-color: #86BFE6 !important;
    font-family:'PT Sans', arial;
} 

.gsc-wrapper {
    font-family:'PT Sans', arial;
    text-align:justify;
    font-size:16px;
} 

.gs-result:hover {
    background-color: #EAEAEA !important;
}

.filterform select{
    width: 130px;
    height: 30px;
    overflow: hidden;
    background: #ddd;
    font-size:15px;
    margin-right:10px;
    cursor: pointer;
    border:0px;
    padding:5px;
    box-shadow: inset 0 0 4px #adadad;
    -moz-box-shadow: inset 0 0 4px #adadad;
    -webkit-box-shadow: inset 0 0 4px #adadad;
    background: -webkit-linear-gradient(top, #ddd, #fff); 
    background: -moz-linear-gradient(top, #ddd, #fff);
}

.filterform option{
    box-shadow: inset 0 0 4px #adadad;
    -moz-box-shadow: inset 0 0 4px #adadad;
    -webkit-box-shadow: inset 0 0 4px #adadad;
    padding:5px;
}


.filterform {
    margin-left:275px;
    width:750px;
}

#spanleftw {
    float:left;
    width:230px;
    padding-top:2px;   
    padding-bottom:2px;
}

#spanleft:hover{
    bottom-border: 4px solid #ffcc00;

}

#spanleft:hover a{
    color:#2E4E6A;
    text-decoration:none;
}

#spanright {
    padding:5px;
    padding-top:2px;   
    padding-bottom:2px;

    font-family:arial;
    font-weight:bold;


    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;

}

#select_category {
    color: #111112;
    font-size: 12px;
}

.styled-select select{
    background: #ffffff;
    width: 200px;
    padding: 0px;
    font-size: 12px;
    border: 1px solid #ccc;
    height: 20px;
    color: #111112;
    font-weight:bold;
    font-family: 'Droid Sans', sans-serif;

    letter-spacing:1px;
}

.entry-content {
    /*text-align: justify;*/
}

.listall {
    border-bottom:1px solid #ddd;
    border-top:1px solid #ddd;
    margin-bottom:25px;
    font-size:16px;
}

.partners {
    width:100%;
    text-align:center;
}

.countrylistheader{  
    font-size:35px;
    padding-bottom:10px;
    background-image:url('https://www.globalhealthrights.org/images/plus.png');
    background-repeat:no-repeat;
    background-position:right;
    margin-left:5px;
}


.authorname{
    font-size:14px;
    font-weight:bold;
}

.authordetails{
    font-size:12px;
    padding:10px;
    border:1px solid #ccc;
}






.home-ncin  a{
    display:block;
    color:#2E4E95;
    text-decoration:none !important;
    padding-bottom:25px;
    padding:12px;
}

.home-ncin2  a{
    display:block;
    color:#2E4E95;
    text-decoration:none !important;
    padding-bottom:25px;
    padding:10px;
}

.home-ncin a:hover{
    background:#EAEAEA;
    color:#A3CCE8;
}
.home-ncin2 a:hover{
    background:#EAEAEA;
    color:#A3CCE8;
}

.home-ncin {
    font: bold 16px 'PT Sans', sans-serif;
    letter-spacing:1px;
    border-bottom: 1px solid #e9e9e9;
}

.home-ncin2 {
    font: bold 16px 'PT Sans', sans-serif;
    letter-spacing:1px;
}

a.linkhover:hover{
    color:#A3CCE8 !important;
}

a.icbutton{
    background:#4B71D3;
    color:#fff;
    border:3px solid #ffcc00;
    border-radius:5px;
    width:270px;
    font-size:16px;
    padding:2px;
    font-weight:bold;
    margin-bottom:30px;
    display:block;
    line-height:22px;
}

#category_label{
    font-weight: bold;
    float: right;
}














/* 


.home-ncin  a{
display:block;
color:#fff;
text-decoration:none !important;
padding-bottom:30px;
padding:15px;
background:#86BFE6;
border-radius:10px;
border: 3px solid #FFF;
}

.home-ncin2  a{
display:block;
color:#fff;
text-decoration:none !important;
padding-bottom:30px;
padding:15px;
background:#86BFE6;
border-radius:10px;
border: 3px solid #FFF;
}

.home-ncin a:hover{
background:#4B71D3;
color:#fff;
border: 3px solid #FFCC00;
}
.home-ncin2 a:hover{
background:#4B71D3;
color:#fff;
border: 3px solid #FFCC00;
}

.home-ncin {
font: bold 16px 'PT Sans', sans-serif;
letter-spacing:1px;

border-radius:5px;
text-align:center;
margin-bottom:20px;
margin-top:10px;
}

.home-ncin2 {
font: bold 16px 'PT Sans', sans-serif;
letter-spacing:1px;

border-radius:5px;
text-align:center;
} */


.customcolumn{
   -webkit-column-count: 3 ;
   -moz-column-count: 3 !important;
    column-count: 3; 
    height:290px;
    min-height: 290px;
    max-height: 360px;
}

.award-banner {    width: 400px;    height: auto;    margin: auto;}.award-banner a { display: block; }.award-banner img {     display: block;     height: auto;    width: 100%;}