#logo{ max-width: 640px; width: 100%; }
.menu li { display: inline-block; }
header .menu a { font-size: 16px; font-weight: 700; }
.menu a { padding: 0 12px 0 8px; border-right: solid 1px #f59421; }
.menu li:last-child a { border-right: none; }
footer .menu a { color: #999; border-right: solid 1px #999; }

header { margin: 1rem 0 1rem; border-bottom: solid 1px #eee; padding-bottom: 1rem; }
header ul, footer ul { margin: 1rem 0; }
footer { margin: 1rem 0 1rem; border-top: solid 1px #eee; padding-top: 1rem; }